version: 2
jobs:
  build:
    docker:
      - image: fpco/stack-build:lts
    steps:
      - checkout
      - restore_cache:
          name: Restore cached dependencies
          key: site-{{ checksum 'stack.yaml' }}
      - run:
          name: Resolve/update dependencies
          command: stack --no-terminal setup
      - save_cache:
          name: Cache dependencies
          key: site-{{ checksum 'stack.yaml' }}
          paths:
            - ~/.stack
            - ~/.stack-work
      - run:
          name: Rebuild site
          command: stack --no-terminal run rebuild
      - run:
          name: Deploy site to GitHub
          command: |
            git config user.email circleci@circleci
            git config user.name CircleCI
            git submodule init
            git submodule update
            cd _site/
            git checkout master
            git add --all
            git commit -m \"Update ($(date \'+%F %T %Z\')) [ci skip]\"
            git push origin master
      - run:
          name: Update submodule reference
          command: |
            git config user.email circleci@circleci
            git config user.name CircleCI
            git add _site/
            git commit -m \"Update _site ($(date \'+%F %T %Z\')) [ci skip]\"
            git push origin site
